<!-- <div class="row">
    <div class="col-md-12 col-sm-12" *ngIf="isEncode">
        <mat-form-field>
            <mat-label>Enter here</mat-label>
            <textarea matInput placeholder="Ex. 100 Main St">1600 Amphitheatre Pkwy</textarea>
        </mat-form-field>
        <div class="col-md-12 col-sm-12" *ngIf="!isEncode">
            <mat-form-field>
                <mat-label>Decode</mat-label>
                <textarea matInput placeholder="Ex. 100 Main St">1600 Amphitheatre Pkwy</textarea>
            </mat-form-field>
    </div>
</div> -->
<form novalidate>
    <mat-form-field>
        <mat-label>Enter here</mat-label>
        <textarea matInput placeholder="Ex. 100 Main St">1600 Amphitheatre Pkwy</textarea>
    </mat-form-field>
</form>